@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
      font-family: 'Sans';
      src: url('./assets/fonts/NotoSans-Regular.ttf') format('truetype');
    }
  }
  @layer utilities {
    .carousel-item {
      @apply float-left relative block w-full;
      margin-right: -100%;
      backface-visibility: hidden ;
    }
  }